.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block; 
  padding: 12px; 
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #ccc; 
}

.vertical-menu a.active {
  background-color: #2471A3;
  color: white;
}

#wrapper {
    width: 10000px;
	overflow: hidden;
}

#first {
  width: 300px;
  float:left;
}

#second {
	float:left;
    padding: 80px;
}